.facts {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../imges/bg-contract.jpg) center center no-repeat;
    background-size: cover;
}

.visiting-hours {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../imges/animals/68945.jpg) center center no-repeat;
    background-size: cover;
}

.visiting-hours .list-group-item {
    display: flex;
    justify-content: space-between;
    color: var(--light);
    background: rgba(0, 0, 0, .15);
    border-color: rgba(255, 255, 255, .15);
}

.visiting-hours .table {
    color: var(--light);
    background: rgba(0, 0, 0, .15);
}

.visiting-hours .table td {
    padding: .5rem 1rem;
    border-color: rgba(255, 255, 255, .15);
}

.visiting-hours .table tr:last-child td {
    border: none;
}